<% include partials/headerlayout %>
<header>People, ______, Things!</header>
<a id="placesyouvebeen" href="/places/new">Add a new place</a>
<div id="needID"></div>
<div id="map-canvas"></div>
<div id="addedPoints">Where Have <strong>YOU</strong> been?</div>




<% include partials/footer %>