<% include partials/headerlayout %>

<a id="placesyouvebeen" href="/places/new">Add a new place</a>
<div id="needID"></div>
<div id="map-canvas"></div>
<div id="addedPoints"></div>




<% include partials/footer %>